<% layout('layouts/boilerplate') %> 

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=foundCamp._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                  <div class="mb-3">
                      <label for="title" class="form-label">Title</label>
                      <input type="text" class="form-control" name="campground[title]" required id="title" value="<%=foundCamp.title%>">
                      <div class="valid-feedback">Looks Good!</div>
                  </div>                
                  <div class="mb-3">
                      <label for="location" class="form-label">Location</label>
                      <input type="text" class="form-control" name="campground[location]" required id="location" value="<%=foundCamp.location%>">
                      <div class="valid-feedback">Looks Good!</div>
                  </div>
                  <div class="mb-3">
                      <label for="image" class="form-label">Image Url</label>
                      <input type="text" class="form-control" name="campground[image]" required id="image" value="<%=foundCamp.image%>">
                      <div class="valid-feedback">Looks Good!</div>
                  </div>
                  <div class="mb-3">
                      <label for="price" class="form-label" id="price-label">Price</label>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="price">$</span>
                          <input type="text" class="form-control" placeholder="0.00" name="campground[price]" required value="<%=foundCamp.price%>" aria-label="price" aria-describedby="price-label">
                          <div class="valid-feedback">Looks Good!</div>
                      </div>
                  </div>
                  <div class="mb-3">
                      <label for="description" class="form-label">Description</label>
                      <textarea class="form-control" required id="description" name="campground[description]" rows="3"><%=foundCamp.description%></textarea>
                      <div class="valid-feedback">Looks Good!</div>
                    </div>
                  <button type="submit" class="btn btn-info">Update Camp</button>
                  <div class="mt-3"><a href="/campgrounds/<%= foundCamp._id %> ">Back to Campground</a></div>
            </form>
         </div>
         
    </div>
